In [1]:
import pandas
df = pandas.read_csv("data/proper_dataset.csv")
print(df.head())

   Id             Name  App Development  Blockchain  C  Cloud Computing  \
0   1     EESHA SAXENA                0           1  1                1
1   2  Jaishree Sharma                1           0  1                1
2   3    RITIK AGARWAL                0           0  0                0
3   4    PRASON POUDEL                0           1  0                0
4   5     Roshan Bhatt                0           0  1                1

   Data Structures  Ethical Hacking  Java  Machine Learning  Networking  \
0                0                0     1                 0           0
1                0                0     1                 0           0
2                0                0     1                 1           0
3                0                0     0                 1           1
4                0                0     1                 0           1

   Python  SQL  Web Development
0       1    1                1
1       1    0                0
2       1    1                1
3       0    1                1
4       1    1                1

In [2]:
df.describe()

,Id,App Development,Blockchain,C,Cloud Computing,Data Structures,Ethical Hacking,Java,Machine Learning,Networking,Python,SQL,Web Development
count,200.000000,200.000000,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,0.190000,0.105000,0.50500,0.480000,0.245000,0.220000,0.665000,0.680000,0.155000,0.690000,0.630000,0.880000
std,57.879185,0.393285,0.307323,0.50123,0.500854,0.431166,0.415286,0.473175,0.467647,0.362813,0.463654,0.484016,0.325777
min,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50.750000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,100.500000,0.000000,0.000000,1.00000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000
75%,150.250000,0.000000,0.000000,1.00000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000
max,200.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000